.chat-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2vh;

  .chat-left-container, .chat-right-container {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
  }

  .chat-left-container {
    max-height: 80vh;
    overflow-y: scroll;
    flex: 1;

    .left-chat-item {
      padding: 20px 5px;
      background-color: aliceblue;
      margin: 5px 0px;
      border-radius: 5px;
    }

    .left-chat-item-selected {
      background-color: #349aff7e;
    }
  }

  .chat-right-container {
    .right-chat {
      width: 100%;
      max-height: 75vh;
      overflow-y: scroll;
    }

    .right-chat-item {
      width: 100%;
      margin: 5px 0px;
      padding: 10px;
      border-radius: 5px;
    }

    .right-chat-item-sender {
      background-color: #6dc27088;
    }
    .right-chat-item-receiver {
      background-color: aliceblue;
    }
  }
  
  .bottom-chat-section {
    margin-top: 10px;
  }

  /* Mobile & Tablet responsiveness */
  @media (max-width: 768px) {
    .chat-left-container {
      max-height: 30vh;
      width: 100%;
      margin-bottom: 10px;
      overflow-y: scroll;
    }
    
    .chat-right-container {
      width: 100%;

      .right-chat {
        max-height: 40vh !important;
      }
    }

    .chat-left-container .left-chat-item {
      padding: 15px 5px;
      margin: 5px 0;
    }

    .chat-right-container .right-chat-item {
      padding: 12px 5px;
    }
  }

  @media (max-width: 480px) {
    .chat-left-container {
      width: 100%;
      padding: 5px;
    }

    .chat-right-container {
      width: 100%;
      padding: 5px;

      .right-chat {
        max-height: 55vh !important;
      }
    }

    .left-chat-item {
      padding: 10px;
      margin: 5px 0;
    }

    .right-chat-item {
      padding: 8px 5px;
      margin: 5px 0;
    }

    .right-chat-item-sender,
    .right-chat-item-receiver {
      font-size: 14px;
    }

    .chat-right-container .right-chat {
      display: block;
    }

    .chat-right-container .right-chat-item {
      text-align: left;
    }

    /* Adjust the button size */
    .chat-right-container button {
      padding: 5px 10px;
      font-size: 10px;
    }
  }
}

