.chat-container {
  .chat-left-container {
    background-color: white;
    padding: 10px;
    border-radius: 5px;

    .left-chat-item {
      padding: 20px 5px;
      background-color: aliceblue;
      margin: 5px 0px;
      border-radius: 5px;
    }
  }

  .chat-right-container {
    background-color: white;
    padding: 10px;
    border-radius: 5px;

    .right-chat {
      width: 100%;
    }

    .right-chat-item {
      width: 100%;
      background-color: aliceblue;
      margin: 5px 0px;
      padding: 10px;
      border-radius: 5px;
    }
  }
}
